
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
body{
    font-family: 'Nanum';
}
/* 초기화 */
*{
    margin: 0;
    padding: 0;
    font: 10px;
}
ul, li {
    list-style: none;
}
a{
    text-decoration: none; 
    /* 태그 밑줄없애기 */
    color: #333;

}

/* 구조화 */
#wrap{
    width: 100%;
}
header {
    position: fixed;
    width:  100%;
    left: 0;
    top: 0;
    padding: 0 30px;
    border-bottom: solid 1px #e1e1e1;
    display: flex;
    justify-content: space-between;     /* item들의 사이에 균일한 간격처리 */
    box-sizing: border-box;     /* 끝에 join login 안으로 들어옴, borderline으로 처리하는것 */
    font-size: 0.7rem;
}
header h1 {
    padding: 20px 0;

}
header > #gnb {
    width: 100%;
    display: flex;
    position: absolute;
    top: 1.8rem;
    left: 8rem;
}
#gnb > li{
    margin-right: 1rem;
}
#util{
    display: flex;
    position: absolute;
    right: 1rem;
    top: 1.8rem;
}
#util > a{
    margin-right: 1rem;
}
/* ::before, ::after 
::before - 선택한 요소 앞에 가상 컨텐츠 삽입
::after - 선택한 요소 뒤에 가상 컨텐츠 삽입

예시) 
h1.st ::before {
    content: "String";  //가상 컨텐츠 문자열 삽입
    content: url("이미지 경로");  //가상 컨텐츠 이미지 삽입
    content: attr(class);  //가상 컨텐츠 속성값 삽입
    content: "";  //가상 컨텐츠 빈공간을 만듦
}

*/